.jumbotron {
  background: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-fruit-shop-promotion-poster-background-image_154863.jpg");
  background-size: cover;
  background-position: center center;
  color: aliceblue;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.card-container {
  margin-bottom: 30px;
}

.card {
  margin-bottom: 20px;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #bd8574;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.card img {
  max-height: 100px;
  object-fit: cover;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}


body {
  background-color: #eee3d7;
  margin-bottom: 150px;
}

footer {
  background-color: #5D4037;
  margin-top: 80px;
  color: #eee;
}

footer a {
  display: block;
  color: #D7CCC8;
  padding: 0 20px;
}

footer a:hover {
  color: #eee;
  text-decoration: none;
}

footer .links {
  margin: 20px 0;
  text-align: center;
}